<link href="css/sembradora.css" rel="stylesheet" />
<div id="content">

  <input type="hidden" id="file" value="Sembradora" />
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div id="formulario">
          <div class="equipos">
            <h1 class="h3 mb-2 text-gray-800">Configuracion de sembradora</h1>

            <div class="variables">


            
          
                     
                 
              
              <div class="tab-content" id="Cuerpo">
                <div class="tab-pane fade show active" id="Cuerpo" role="tabpanel" aria-labelledby="Cuerpo-tab">
                  <div class="card mb-4 py-3 border-left-primary">
                    <div class="small mb-1">Perfil de Sembradora</div>
                    <div class="card-body">
                     
                   
                      <label class="field">
                        <select name="SeederNameList" id="SeederNameList" class="form-control form-control-user" multiple></select>
                      </label>
                        
                      
                    </div>
                    <div class="small mb-1">Nombre</div>
                    <div class="card-body">
                      <input type="text" id="SeederName" class="form-control form-control-user"/>
                      <div id="bootstrapAlert" style="display:none;" class="alert alert-danger mt-2"></div>
                    </div>
                    <div class="small mb-1">Ancho de Labor en Metros</div>
                    <div class="card-body">
                      <input type="number" id="Working_Width" class="form-control form-control-user" min="0"
                        max="255" />
                    </div>
                    <div class="small mb-1">Cantidad de surcos</div>
                    <div class="card-body">
                      <input type="number" id="Rows" class="form-control form-control-user" min="0" max="255" />
                    </div>
                    <div class="small mb-1">Espacio entre surcos en mts</div>
                    <div class="card-body">
                      <input type="number" id="RowSpacing" class="form-control form-control-user" min="0" max="40" />
                    </div>
                  </div>
                </div>
                
              </div>
             
             
              <div class="button-container">
                <button id="New" type="button" class="btn btn-primary btn-round btn-sm">Nuevo</button>
                <button id="Load" type="button" class="btn btn-info btn-round btn-sm">Cargar</button>
                <button id="Save" type="button" class="btn btn-success btn-round btn-sm">Grabar</button>
                <button id="Clone" type="button" class="btn btn-secondary btn-round btn-sm">Duplicar</button>
                <button id="Delete" type="button" class="btn btn-danger btn-round btn-sm">Borrar</button>
                
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="CloneModal" class="modal" >
    <div class="modal-content">
      <h2>Ingrese un nombre</h2>
      <input type="text" id="SeederNameClone" placeholder="Ingrese un nombre">
      <button id="CloneSave" type="button">Grabar</button>
    </div>
  </div>
  
  <script src="./js/mqtt-sembradora.js"></script>
  <script src="./js/render-sembradora.js"></script>
</div>